@model AirlineCompany.web.Models.AddItemViewModel

@{
    ViewData["Title"] = "AddFlight";
}

<h2>Add Flight</h2>

<h4>To Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFlight">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FlightID" class="control-label"></label>
                <select asp-for="FlightID" asp-items="Model.Flights" class="form-control"></select>
                <span asp-validation-for="FlightID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
